*.pth
*.pyc
*DS_Store
src/data_info
src/__pycache__
src/exp
src/ckpt
src/wandb_offline
pretrained_models
src/scripts
tmp
.vscode
src/scripts
src/sbatch
wandb_offline
src/loss_histograms
eval
retrieval_vis
vis
example_mel.png
loss_histograms